---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "CV">
  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">个人简介</div>
  </div>

  <div class="mb-10 text-justify">
    Engineer in Informatics Science with 6 years + of experience in software development. Dominion of various programming
    languages, frameworks, CMS and graphics engines. Experience in WEB design and development. Work with Data Base handled
    systems, as well as design, normalization and migration. Knowledge of work with graphic design tools for image
    manipulation , User Interfaces design, Web sites, logos and other ones.
  </div> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">教育经历</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="南方科技大学 Southern University of Science and Technology"
      subtitle="2016 至 2020 年就读于深圳 南方科技大学，获得计算机科学与技术学士学位"
    />
    <TimeLineElement
      title="不列颠哥伦比亚大学 University of British Columbia"
      subtitle="2018 年 7 月至 8 月 于加拿大不列颠哥伦比亚大学访学"
    />
    <TimeLineElement
      title="新加坡管理大学 Singapore Management University"
      subtitle="2020 至 2022 年就读于新加坡管理大学，获得商业信息技术（人工智能方向）硕士学位"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">实习经历</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="软件开发工程师 华为技术有限公司"
      subtitle="2019 年 6 月 - 2019 年 8 月 东莞"
      desc="工作内容是基于Kubernetes和Docker技术，参与设计和开发新一代负载均衡器。具体负责开发负载均衡器系统中的适配器模块，原有适配器模块周期性从Kubernetes集群中拉取数据，不适用于大规模业务集群场景。利用Kubernetes的List-Watch机制重构这一模块，以最小的代价实现了动态监测数据变化，保证了在大规模业务集群场景下消息传递的实时性、可靠性、顺序性和高性能。参与了自动测试框架的设计和文档撰写。"
    />
    <TimeLineElement
      title="研究员 新加坡科技研究局 Agency for Science, Technology and Research(A*STAR)"
      subtitle="2021 年 7 月 - 2022 年 1 月 新加坡"
      desc="研究目标是引入类增量学习技术用于解决视频动作识别任务。研究中复现了针对图像分类的SPB模型（Striking a Balance between Stability and Plasticity for Class Incremental Learning），结合视频动作识别模型TSM（Temporal-shift-module），成功使用增量学习技术训练视频动作识别模型，模型在每一个增量阶段的准确率都远超微调模型。"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">项目经历</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="深度学习电影推荐系统"
      subtitle="个人项目"
      desc="实现了一个包含数据部分、模型部分和前端部分的完整的工业级推荐系统。其中数据部分运用了Spark、Flink和Redis技术，分别进行离线数据处理、准实时处理和保存特征；模型部分使用了Spark MLib和TensorFlow分别训练传统推荐模型和深度学习推荐模型，实现了Item2Vec、Wide&Deep、NeuralCF、DeepFM等多个模型；最后运用HTML和JavaScript搭建了简单的前端界面。"
    />
  </div>
  
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">研究经历</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="基于生成对抗网络的人脸表情变换研究"
      subtitle="2018 年 9 月 至 2019 年 5 月"
      desc="基于生成对抗网络和人体解剖学结构，实现了一个能够同时转换人脸特征和生成连续性表情变化的深度神经网络模型。"
    />
    <TimeLineElement
      title="基于生成对抗网络的文本生成图像技术研究"
      subtitle="2019 年 9 月 至 2020 年 5 月"
      desc="实现自修正生成对抗网络模型（Self-Correction GAN）：之前的模型存在依赖初始图像的生成质量和不同阶段采用相同词表示的两点缺陷，通过引入键值结构记忆网络，使模型能够在层叠式生成图像的过程中自修正。模型在多项定量指标中达到或超越了最先进水平；设计并实现评价指标语义对象准确性：之前的指标无法评价图像与文本是否匹配，通过引入YOLOv3目标检测器，检测生成图像是否包含文本所对应的标签，分别计算类平均准确率和总体平均准确率。"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">课程项目</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="计算机编程基础"
      subtitle="2017 年 5 月 南方科技大学 小组项目"
      desc="基于Java和MySQL实现了一个机票管理系统。承担了绝大部分的开发工作。"
    />
    <TimeLineElement
      title="人工智能"
      subtitle="2018 年 9 月 至 2018 年 12 月 南方科技大学 个人项目"
      desc="使用NumPy实现SVM算法，在10维测试数据集上取得满分；基于决策树和AlphaBeta剪枝算法开发了一个围棋AI程序，排名前20%。"
    />
    <TimeLineElement
      title="计算机网络"
      subtitle="2018 年 12 月 南方科技大学 小组项目"
      desc="运用MQTT协议实现了一个能够部署在不同智能手机上从而共享传感器信息的安卓应用。负责信息传输部分的开发工作。"
    />
    <TimeLineElement
      title="软件工程"
      subtitle="2019 年 5 月 南方科技大学 小组项目"
      desc="开发了一款用于转换图片风格的安卓应用。负责风格转换模型部分的开发工作。"
    />
    <TimeLineElement
      title="资金流入流出预测 - 应用机器学习"
      subtitle="2021 年 4 月 新加坡管理大学 小组项目"
      desc="综合使用时间序列、机器学习和深度学习，建立模型预测余额宝在未来30天内的资金流入流出情况。负责特征工程，机器学习和深度学习部分的模型训练。"
    />
    <TimeLineElement
      title="智能停车解决方案 - 计算机视觉"
      subtitle="2021 年 4 月 新加坡管理大学 小组项目"
      desc="提出了两种基于计算机视觉技术的查看停车场是否有空位的解决方案。方案一使用航拍，方案二使用监控摄像头。选择使用Mask-RCNN模型，识别某个停车位是否被占据。承担大部分开发工作。"
    />
    <TimeLineElement
      title="机器学习阅读理解 - 自然语言处理"
      subtitle="2021 年 8 月 新加坡管理大学 小组项目"
      desc="使用集成学习，综合了多个不同的基于BERT的模型，在给定问题和上下文的情况下，预测回答。负责集成学习部分和前端部分的开发工作。"
    />
    <TimeLineElement
      title="Steam游戏推荐系统 - 推荐系统"
      subtitle="2021 年 8 月 新加坡管理大学 小组项目"
      desc="建立了一个Steam游戏推荐系统，推荐算法利用了文字、图片等多模态信息。主要负责数据爬取、特征工程和深度学习推荐模型部分的开发工作"
    />
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.efset.org/cert/DxtNKG" target="_blank"> EF SET English Certificate 74/100 (C2 Proficient)</a>
    </li>
    <li>
      <a href="https://certiprof.com/pages/scrum-foundation-professional-certificate-sfpc-en-sp" target="_blank"> Scrum Foundation Professional Certificate (SFPC)</a>
    </li>
  </ul> -->

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">技能</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>English</li>
    <li>Git</li>
    <li>Office Suite</li>
  </ul> -->
</BaseLayout>
